PORT= <port on which you want to run the server>
MONGO_CONNECTION_URI= <your mongodb connection url>
JWT_KEY= <your jwt key (something stong)>
CLIENT_ID= <your client id (from google playground)>
CLIENT_SECRET= <your client secret (from google playground)>
REFRESH_TOKEN= <your refresh token (from google playground)>
GMAIL_ID= <gmail id which will be used for sending mails>